<h1>Forum</h1>

<%= link_to 'New Question', new_question_path,
  class: "btn btn-outline-secondary"
%>

<% @questions.each do |question| %>
  <div class="question">
    <h3><%= question.content %></h3>
    <div>
      <%= render question.answers, question: question %>
      <%= time_ago_in_words(question.created_at) %> ago by <%= question.user.email %>

<h3>Your Log In</h3> 
      <%= render 'action', question: question %>
      <%= render 'answer_form', question: question %>  
    </div>
  </div>
<% end %>
